body {
    background: linear-gradient(to right, #7a8fff, #60e7ff);
    font-family: "Abyssinica SIL", sans-serif;
}

.shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
    min-width: 250px;
}

.tab-content {
    flex: 1;
}

.form-group {
    margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.mb-4 {
    color: #5569aa;
}

.nav-pills a.nav-link i {
    width: 20px;
}

.img-circle img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
}

.btn-primary {
    cursor: pointer;
    border: 0;
    border-radius: 0.5em;
    outline: none;
    transition: background-color 0.5s, border-radius 0.5s;
    background: linear-gradient(to right, #2742b0, #6085ff);
}

.btn-light {
    cursor: pointer;
    border: 0;
    border-radius: 0.5em;
    transition: border-radius 0.5s;
    outline: none;
}

.btn-primary:hover {
    background: linear-gradient(to right, #1b2c7e, #4f70c5);
    border-radius: 25px;
}

.btn-primary:focus {
    border: none;
    box-shadow: none;
}

.btn-light:hover {
    border-radius: 25px;
}

.btn-light:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.tab-pane.fade.active.show {
    background-color: #dcdcdc;
}

.tab-content.p-4.p-md-5 {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: #dcdcdc;
}

div.bg-white.shadow.rounded-lg.d-block.d-sm-flex {
    border-radius: 5em !important;
}

input.form-control {
    border: 0 solid #dcdcdc;
    outline: none;
    color: rgb(38, 50, 56);
    border-radius: 0.5em;
    transition: none;
}

input.form-control:focus {
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.03);
}

.profile-tab-nav.border-right {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background-color: #dcdcdc;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.myButtonUpdate, .myButtonCancel {
    float:left;
    margin-right: 7px;
}

.main {
    background-color: #dcdcdc;
    width: 400px;
    height: 240px;
    margin: 7em auto;
    border-radius: 0.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #5569aa;
    font-family: "Abyssinica SIL", sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
}

.exitSuccessButton {
    margin-top: 30px;
    width: 180px;
    height: 60px;
    cursor: pointer;
    color: #595656;
    border: 0;
    border-radius: 0.5em;
    outline: none;
    transition: background-color 0.5s, border-radius 0.5s;
    background: linear-gradient(to right, #2742b0, #6085ff);
    margin-bottom: 2%;
}

.exitSuccessButton:hover {
    background: linear-gradient(to right, #1b2c7e, #4f70c5);
    border-radius: 25px;
    color: #595656;

}

.exitSuccess {
    color: white;
    font-size: 18px;
    font-weight: normal;
}

#tempBanButton{
    width: 100%;
    margin-top: 2%;
    height: 40px;
    background: linear-gradient(to right, #e12323, #ec5959);
    transition: background-color 0.5s, border-radius 0.5s;
}

#unblockButton{
    width: 100%;
    margin-top: 2%;
    height: 40px;
    background: linear-gradient(to right, #2742b0, #6085ff);
    transition: background-color 0.5s, border-radius 0.5s;
}

#unblockButton:hover{
    background: linear-gradient(to right, #1b2c7e, #4f70c5) !important;
}