#customers, #customerStat {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

.userTypeButton, .userTypeButton1 {
    background-color: #413e3e;
    border: 0;
    text-align: left;
    width: 100%;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    cursor: pointer;
}

.userTypeButton1 {
    color: #da6f1e;
}

.text_center {
    margin: 20px 0 20px 0;
    padding: 25px 0 25px 0;
    color: #153a75;
    font-size: 27px;
    text-align: center;
    width: 80%;
    align-self: center;
    border-radius: 0.5em;
    background-color: white;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}


.text_center1 {
    margin: 20px 0 20px 0;
    padding: 25px 0 25px 5px;
    color: #071b42;
    font-size: 20px;
    text-align: left;
    width: 50%;
    align-self: center;
    border-radius: 0.5em;
    background-color: white;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.dateControllerButtons {
    margin: auto;
    width: 37%;
}

.nextButton, .prevButton {
    width: 120px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    border-radius: 0.5em;
    outline: none;
    transition: background-color 0.5s, border-radius 0.5s;
}

.nextButton {
    color: white;
    background: linear-gradient(to right, #2742b0, #6085ff);
}

.prevButton {
    color: black;
    background: #f1f1f1;
}

.nextButton:hover {
    background: linear-gradient(to right, #1b2c7e, #4f70c5);
    border-radius: 25px;
}

.prevButton:hover {
    background: #c4c4c4;
    border-radius: 25px;
}

.settingsButtonOnUserStat, .statButtonOnUserStat {
    font-size: 20px;
    cursor: pointer;
    border: 0;
    border-radius: 0.5em;
    padding: 6px 11px;
    outline: none;
    transition: background-color 0.5s, border-radius 0.5s;
}

.settingsButtonOnUserStat {
    color: white;
    background: linear-gradient(to right, #2742b0, #6085ff);
    margin-left: 5px;
}

.settingsButtonOnUserStat:hover {
    background: linear-gradient(to right, #1b2c7e, #4f70c5);
    border-radius: 25px;
}

.statButtonOnUserStat {
    color: black;
    background: #f1f1f1;
    border: 1px solid #1a55ff;
}

.statButtonOnUserStat:hover {
    background: #ababab;
    border-radius: 25px;
}

.userTypeButton:hover, .userTypeButton1:hover {
    color: #f1f1f1;
}

.option {
    float: left;
    width: 50%;
}

.moreTd {
    width: 230px !important;
}

#customers td, #customers th, #customerStat td, #customerStat th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even), #customerStat tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:nth-child(odd), #customerStat tr:nth-child(odd) {
    background-color: lightgray;
}

#customers tr:hover, #customerStat tr:hover {
    background-color: #ddd;
}

#customers th, #customerStat th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #153a75;
    color: white;
}